<h1>Welcome to SunDial!</h1>
<br/>
<br/>
<br/>
<br/>
<%= link_to t('.my_calendar', :default => t("helpers.links.my_calendar")),
            calendar_path,
            :class => 'btn btn-large' %>
<%= link_to t('.login', :default => t("helpers.links.login_or_sign_up")),
            new_user_session_path,
            :class => 'btn btn-large' %>