<%= form_for @event, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :starts_at, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :starts_at, :class => 'datetime_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :ends_at, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :ends_at, :class => 'datetime_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :all_day, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :all_day, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :color, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :color, [['Green','#A1FA7E'],['Yellow','#FCFE75'],['Red','#FD8B8B'],['Blue','#A1A6FB']] %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_area', :size => '30x5' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :tag_list, "Tags (separated by commas)" %>
    <div class="controls">
      <%= f.text_field :tag_list %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                events_path, :class => 'btn' %>
  </div>
<% end %>
