<%- model_class = Event -%>
<div class="page-header">
  <h1><%= "Events Tagged With: '#{params[:tag]}'" %></h1>
</div>
<table class="table">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:starts_at) %></th>
      <th><%= model_class.human_attribute_name(:ends_at) %></th>
      <th><%= model_class.human_attribute_name(:all_day) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:tags) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |event| %>
      <tr bgcolor=<%=event.color%>>
        <td><%= link_to event.id, event_path(event) %></td>
        <td><%= link_to event.title, event_path(event) %></td>
        <td><%= event.starts_at %></td>
        <td><%= event.ends_at %></td>
        <td><%= event.all_day %></td>
        <td><%= event.description %></td>
        <td><% event.tags.any? %>
            <% event.tags.each do |tag| %>
                <%= link_to tag.name, tagged_url(:tag => tag.name) %>
            <% end%>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_event_path(event), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      event_path(event),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new_event', :default => t("helpers.links.new_event")),
            new_event_path,
            :class => 'btn btn-success' %>
<%= link_to t('.back_to_calendar', :default => t("helpers.links.back_to_calendar")),
            calendar_path,
            :class => 'btn' %>
