<div id="user_nav">
  <% if user_signed_in? %>
    Signed in as: <%= current_user.email %>.<br/>
    Not you? <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path %> or
    <%= link_to "Sign in", new_user_session_path %>
  <% end %>
</div>
<br/>
<div id='calendar'></div>
<br/><br/><br/>


<%= link_to t('.new_event', :default => t("helpers.links.new_event")),
              new_event_path, :class => 'btn btn-large btn-success' %>
<%= link_to t('.all_events', :default => t("helpers.links.all_events")),
              events_path, :class => 'btn btn-large' 				%>      
<br/><br/>
<!-- Used to display Netapp info from Yammer. TODO: replace with more meaningful data... 
<script data-app-id="hyB2pTvrL36Y50py8EWj6A"
src="https://assets.yammer.com/platform/yam.js"></script>
<script> yam.connect.embedFeed({
	container: "#embedded-feed",
	network: "netapp.com"});
</script>
<div id="embedded-feed"></div>
-->